<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About Us</title>
  <link rel="stylesheet" href="{% static 'css/about.css' %}">
</head>
<body>
  
    <section class="hero">
      <h1>About Us</h1>
    </section>
    <section class="content">
      <h2>Our Story</h2>
      <p>At Virtual Tourism, we believe that travel should be accessible to everyone, regardless of physical location or limitations. Our company was founded on the principle of bringing the world to people through virtual reality experiences, providing an immersive and interactive way to explore new places, learn about different cultures, and connect with people from around the globe. Since our inception, we have been dedicated to pushing the boundaries of what is possible in virtual tourism, leveraging the latest technology and creative expertise to create unforgettable experiences for our clients. Whether you are looking to visit far-off destinations or discover hidden gems in your own backyard, we are here to help you make the most of your virtual travels.</p>
      <h2>Our Team</h2>
      <ul class="team-members">
        <li>
          <img src="{% static 'images/man ceo.jpg' %}" alt="Member 1">
          <h3>kimani mbiuki</h3>
          <p>manager</p>
        </li>
        
      </ul>
    </section>
  </main>
  <footer>
    <p>&copy; 2023 Virtual Tourism. All rights reserved.</p>
</footer>
</body>
</html>
